<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>
	Kill Bill V:01
	</title>
</head>
<style>
	.a2
	{
	border: solid grey;
	border-radius:2px;
	margin:auto;
	padding:10px;
	width:100%;
	height:auto;
	background-color:white;
	}

	.container
	{
	border-radius:2px;
	position:relative;
	padding:6px;
	width:85%;
	height:100%;
	background-color:#e4e4e4;
	}
</style>

<body style="font-family:century gothic;">
<div class="container">
    <h1 style="margin-left:15px;">Pulp Fiction</h1>
    <div class="row2">
	    <div class="col-sm-12">
            <br><div class="a2">
            <img src="1843ed69d1210ac2a70ecf0612543e62.jpeg">

            </div>
        </div>
    </div>
</div>
</body>
</head>
</html>